In [1]:
# importing pandas and numpy

import pandas as pd
import numpy as np

In [2]:
#export file

#sharks = pd.read_csv('c/Users/Bruna Miguel/Shark_attack_data_cleaning/sharkoriginal.csv')

sharks = pd.read_csv('sharkoriginal.csv',engine="python")

# sharks=pd.read_csv('../sharkoriginal.csv')

#to have an overview of the data size

sharks.count()

sharks.head()

sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [3]:
#creating a copy

csharks=sharks.copy()
csharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
#check and show only columns with nulls 

null_columns=csharks.isnull().sum()
null_columns[null_columns > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
#drop columns unnamed 22 and unnamed 23, no information


# csharks.drop(csharks.columns[csharks.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [6]:
# still checked for irrelevant columns
#since there are 5992 rows, I assumed if 90% of the data has value null, it´s not worth to be analysed - so 5392
# it was proven possible to observe no more columns would drop, but I also decided to prove it empirically 

drop_cols = list(null_columns[null_columns > 5392].index)
csharks = csharks.drop(drop_cols, axis=1)

In [7]:
# confirming case number 1 column and case number 2 columns are the same through boolean map


csharks['Case Number.1']==csharks['Case Number.2']



#count the rows to match the boolean map length, to confirm the results

sharks.shape[0] 

#once confirmed, dropping one of the columns

csharks.drop(['Case Number.2'], axis=1, inplace=True)

In [8]:
#if there are spaces in the columns, they won´t appear anymore and the columns can be filtered correctly

csharks.columns = csharks.columns.str.replace(' ', '')

In [9]:
# substituted the nulls by NA (as Non Available) for descriptive data

# whiy'Investigator or Source','href formula','href' didnt work?

csharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']] = csharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']].fillna("NA")

# csharks[['Country', 'Area', 'Location']]=csharks[['Country', 'Area', 'Location']].fillna("NA")

csharks

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1,originalorder
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NA,Pearl diving,Ahmun,M,...,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NA,NA,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NA,"Panama Bay 8ºN, 79ºW",NA,Jules Patterson,M,...,FATAL,Y,NA,NA,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NA,NA,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,2

In [10]:
#sum(csharks[['CaseNumber', 'CaseNumber.1']].duplicated())

In [11]:
#changing index to original order, it has unique values and it can be the index

# csharks["CaseNumber"].is_unique

In [12]:
# change index to original order

csharks.set_index(['originalorder'], inplace=True)

csharks.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1
originalorder,,,,,,,,,,,,,,,,,,,,
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16

In [13]:
csharks=csharks.sort_values(by='originalorder')

In [14]:
#after checking for irrelevant data given the analysis we want and not because of nulls or repetitions,deleting more columns
# deleting pdf and ref since both can be treaceable through date and location

irrelevant_columns=['pdf','hrefformula', 'href', 'CaseNumber.1']
csharks=csharks.drop(irrelevant_columns, axis=1)

In [15]:
# since data is mostly descriptive and non numeric, it doesn´t make sense to evaluate percentile, outliers and other descriptive statistics

In [16]:
# checked for outliers


descriptivecsharks = csharks.describe().transpose()

print(descriptivecsharks)

descriptivecsharks['IQR'] = descriptivecsharks['75%'] - descriptivecsharks['25%']
descriptivecsharks

outlier25=descriptivecsharks['25%']-(1.5*descriptivecsharks['IQR'])

outlier75=descriptivecsharks['75%']+(1.5*descriptivecsharks['IQR'])

print(outlier25)
print(outlier75)

#there are outliers if outlier<Year 1850 and outlier> 2094,5

       count         mean         std  min     25%     50%     75%     max
Year  5992.0  1925.204606  286.473712  0.0  1942.0  1975.0  2003.0  2016.0
Year    1850.5
dtype: float64
Year    2094.5
dtype: float64

In [17]:
#csharks['Year'] = csharks['Year']>185
#csharks

#csharks['Year'] = csharks['Year'].lt("1850")

csharks['Year'] = np.where(csharks.Year > 1850, csharks.Year, "Not relevant")

csharks

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource
originalorder,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Not relevant,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NA,NA,S.W. Baker
3,ND.0002,1883-1889,Not relevant,Unprovoked,PANAMA,NA,"Panama Bay 8ºN, 79ºW",NA,Jules Patterson,M,NA,FATAL,Y,NA,NA,"The Sun, 10/20/1938"
4,ND.0003,1900-1905,Not relevant,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NA,FATAL,Y,NA,NA,"F. Schwartz, p.23; C. Creswell, GSAF"
5,ND.0004,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,NA,Pearl diving,Ahmun,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, pp. 233-234"
6,ND.0005,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, p. 234"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016"
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016"
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016"
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016"
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016"

In [18]:
#checked the number of Non relevant numbers - some numbers with before or after were removed but the amount taken from the sample was small, max 238/5992

csharks.Year.value_counts()

Not relevant    238
2015            139
2011            128
2014            125
2013            122
               ...
1851              3
1869              2
1854              1
1859              1
1866              1
Name: Year, Length: 166, dtype: int64

In [19]:
#eliminating the Not relevant years

csharks.drop(csharks[csharks.Year == 'Not relevant'].index)

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource
originalorder,,,,,,,,,,,,,,,,
239,1851.00.00,1851,1851,Unprovoked,USA,California,"San Francisco Bay (or San Leandro Bay), near c...",Hard hat diving,William Cortigan,M,NA,3 toes severed,N,NA,18' shark,"The Perry Chief, 10/16/1875"
240,1851.03.08.R,Mar-1851,1851,Unprovoked,USA,Hawaii,Honolulu Harbor,Swimming,James Kinney,M,NA,FATAL,Y,NA,NA,"The Friend (Honolulu), 3/8/1851"
241,1851.06.19.R,Reported 19-Jun-1851,1851,Unprovoked,MEXICO,Oaxaca,NA,Bathing,John Gray & another member of the Tehuantepec ...,M,NA,FATAL,Y,NA,NA,"Burlington Hawk-Eye, 6/19/1851"
242,1852.00.00,1852,1852,Unprovoked,USA,South Carolina,"Mount Pleasant, Charleston County","Vessel capsized, wading ashore carrying an oar",Charles Chambers,M,NA,"FATAL, body was not recovered",Y,NA,NA,"W. H. Gregg, p. 21"
243,1852.01.22,"""Anniversary Day"" 22-Jan-1850 or 1852",1852,Unprovoked,NEW ZEALAND,North Island,Wellington Harbor,Swimming,"Johnny Balmer, a soldier from the 65th Regiment",M,NA,"FATAL, posterior thigh bared to femur, kneecap...",Y,NA,Said to involved a 6 m to 7.3 m [20' to 24'] s...,"Ref: H. Blake, Sixty Years in New Zealand, pp...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016"
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016"
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016"
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016"
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016"

In [20]:
#csharks['Area'].str.contains(r'Hawaii').value_counts()

#for elem in csharks.area:
 #   if elem.str.contains(r'Hawaii')==True:
  #      csharks['Area']=="Hawaii"

#confirm no duplicates left

before=len(csharks)

csharks.drop_duplicates()

after = len(csharks)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [21]:
csharks['Area'].str.contains(r'Hawaii').value_counts()

False    5703
True      289
Name: Area, dtype: int64

In [22]:
csharks.Area.replace(to_replace="Hawaii", value="Hawaii", regex=True)

csharks

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource
originalorder,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Not relevant,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NA,NA,S.W. Baker
3,ND.0002,1883-1889,Not relevant,Unprovoked,PANAMA,NA,"Panama Bay 8ºN, 79ºW",NA,Jules Patterson,M,NA,FATAL,Y,NA,NA,"The Sun, 10/20/1938"
4,ND.0003,1900-1905,Not relevant,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NA,FATAL,Y,NA,NA,"F. Schwartz, p.23; C. Creswell, GSAF"
5,ND.0004,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,NA,Pearl diving,Ahmun,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, pp. 233-234"
6,ND.0005,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, p. 234"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016"
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016"
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016"
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016"
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016"

In [23]:
csharks.Area.value_counts()

Florida                990
New South Wales        468
NA                     402
Queensland             300
Hawaii                 282
                      ...
Moray                    1
Muala                    1
La Saline-les-Bains      1
Ascension Bay            1
Kwajalein Atoll          1
Name: Area, Length: 786, dtype: int64

In [25]:
#Group Area with similar words

csharks.loc[csharks['Area'].str.contains(r'Hawaii')]="Hawaii"


csharks

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource
originalorder,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Not relevant,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NA,NA,S.W. Baker
3,ND.0002,1883-1889,Not relevant,Unprovoked,PANAMA,NA,"Panama Bay 8ºN, 79ºW",NA,Jules Patterson,M,NA,FATAL,Y,NA,NA,"The Sun, 10/20/1938"
4,ND.0003,1900-1905,Not relevant,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NA,FATAL,Y,NA,NA,"F. Schwartz, p.23; C. Creswell, GSAF"
5,ND.0004,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,NA,Pearl diving,Ahmun,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, pp. 233-234"
6,ND.0005,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, p. 234"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016"
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016"
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016"
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016"
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016"

In [26]:
csharks.Area.value_counts()

Florida                990
New South Wales        468
NA                     402
Queensland             300
Hawaii                 289
                      ...
Salerno                  1
Bois-Blanc               1
Muala                    1
La Saline-les-Bains      1
Rodrigues                1
Name: Area, Length: 781, dtype: int64