In [1]:
# importing pandas and numpy

import pandas as pd
import numpy as np

In [2]:
#exporting file

sharks = pd.read_csv('sharkoriginal.csv',engine="python")

#checking data size

sharks.shape

(5992, 24)

In [3]:
#getting overview of the data

sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
#checking index information

sharks.index

RangeIndex(start=0, stop=5992, step=1)

In [5]:
#checking size of dataframe

sharks.size

143808

In [6]:
#checking number of rows

len(sharks)

5992

In [7]:
#creating a copy

csharks=sharks.copy()

#checking columns

csharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
#checking and showing only columns with nulls 

null_columns=csharks.isnull().sum()
null_columns[null_columns > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [9]:
# checking irrelevant columns
#since there are 5992 rows, I assumed if 90% of the data has value null, it´s not worth to be analysed - so 5392
# it was proven possible to observe no more columns would drop, but I also decided to prove it empirically 

drop_cols = list(null_columns[null_columns > 5392].index)
csharks = csharks.drop(drop_cols, axis=1)

In [10]:
# observing the data, it seems Case number columns are the same
#confirming case number 1 column and case number 2 columns are the same through boolean map

print(csharks['Case Number.1']==csharks['Case Number.2'])

#counting the rows to match the boolean map length, to confirm the results

print(sharks.shape[0])

#once confirmed, dropping one of the columns

csharks.drop(['Case Number.2'], axis=1, inplace=True)

0        True
1        True
2        True
3        True
4       False
        ...
5987     True
5988     True
5989     True
5990     True
5991     True
Length: 5992, dtype: bool
5992

In [11]:
#if there are spaces in the columns, they won´t appear anymore and the columns can be filtered correctly

csharks.columns = csharks.columns.str.replace(' ', '')

In [12]:
# replacing the nulls by NA (as Non Available) for descriptive data


csharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']] = csharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']].fillna("NA")

In [13]:
#checking data for potential new index 

print(csharks['originalorder'].nunique())

print(csharks['CaseNumber'].nunique())

# second option

print(csharks['originalorder'].is_unique)

print(csharks['CaseNumber'].is_unique)

#although it doesn´t seem unique, I assumed it was close to the total number and assumed original order as index to test

5988
5976
False
False

In [14]:
# changing index to original order

csharks.set_index(['originalorder'], inplace=True)

In [15]:
#not in order, sorting by the new index

csharks=csharks.sort_values(by='originalorder')

In [16]:
#after checking for irrelevant data given the analysis goals and not because of nulls or repetitions,deleting more columns
# deleting pdf and ref since both can be treaceable through case number
# deleting also name since we have gender and age for demographics
#deleting also CaseNumber.1 since there was still CaseNumber
#deleting also the exact location, since would take a long time to clean the data and the information about the area is already relevant
#keeping date and time because the goal is to check for seasonality in the long term

irrelevant_columns=['Name','pdf','hrefformula', 'href', 'CaseNumber.1','Location']
csharks=csharks.drop(irrelevant_columns, axis=1)

In [17]:
#confirming no duplicates left

before=len(csharks)

csharks.drop_duplicates(inplace=True)

after = len(csharks)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [18]:
# checking descriptive analysis for year

descriptivecsharks = csharks.describe().transpose()

descriptivecsharks

       count         mean         std  min     25%     50%     75%     max
Year  5992.0  1925.204606  286.473712  0.0  1942.0  1975.0  2003.0  2016.0

In [19]:
#checking years potential outliers

descriptivecsharks['IQR'] = descriptivecsharks['75%'] - descriptivecsharks['25%']
print(descriptivecsharks['IQR'])

outlier25=descriptivecsharks['25%']-(1.5*descriptivecsharks['IQR'])

outlier75=descriptivecsharks['75%']+(1.5*descriptivecsharks['IQR'])

print(outlier25)
print(outlier75)

Year    61.0
Name: IQR, dtype: float64
Year    1850.5
dtype: float64
Year    2094.5
dtype: float64

In [20]:
#there are outliers if outlier<Year 1850 and outlier> 2094,5

csharks['Year'] = np.where(csharks.Year > 1850, csharks.Year, "Not relevant")

In [21]:
#eliminating the Not relevant years

csharks.drop(csharks[csharks['Year'] == 'Not relevant'].index, inplace=True)

#confirming they are removed 
csharks.Year.value_counts()

2015    139
2011    128
2014    125
2013    122
2008    121
       ...
1851      3
1869      2
1866      1
1859      1
1854      1
Name: Year, Length: 165, dtype: int64

In [22]:
#setting Year as numeric

csharks['Year']=pd.to_numeric(csharks['Year']).astype(int)

#confirming it worked

csharks.dtypes

CaseNumber              object
Date                    object
Year                     int32
Type                    object
Country                 object
Area                    object
Activity                object
Sex                     object
Age                     object
Injury                  object
Fatal(Y/N)              object
Time                    object
Species                 object
InvestigatororSource    object
dtype: object

In [23]:
#hypothetically, i got an indication that only the last 20 years should matter
#creating a case my head of data decided that only the last 20 years would matter

csharks=csharks.loc[csharks['Year']>=2000]

# checking if sucessful
csharks['Year'].value_counts()

2015    139
2011    128
2014    125
2013    122
2008    121
2009    120
2012    117
2007    112
2006    103
2005    103
2016    103
2010    101
2000     97
2004     92
2003     92
2001     92
2002     88
Name: Year, dtype: int64

In [24]:
#cleaning the data from columns Type
#eliminating invalids

csharks.drop(csharks[csharks['Type'] == 'Invalid'].index, inplace=True)

# Boat and Boating are the same, uniting both into Boat only

csharks.Type = (csharks.Type.str.replace('Boating', 'Boat'))

#creating new columns category, because we want to protect the sharks and it´s not their fault boat or sea disasters!

csharks['shark fault?']=np.where(csharks['Type']=='Provoked','N','Y')

In [25]:
#organising countries

csharks.Country = (csharks.Country
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title()
                            .str.replace('Usa','USA'))

#checking the frequency of attacks by country - for next step analysis, note in the end

country=csharks.Country.value_counts(normalize=True)

country

USA                           0.507620
Australia                     0.180539
South Africa                  0.066237
Brazil                        0.024619
Bahamas                       0.024033
                                ...
Caribbean Sea                 0.000586
Israel                        0.000586
India                         0.000586
United Arab Emirates (Uae)    0.000586
Palestinian Territories       0.000586
Name: Country, Length: 82, dtype: float64

In [26]:
#cleaning up area
# grouping Hawaii related areas as Hawaii only, since saw sometimes close to Hawaii refered in the original data
#checking the number of times words that contain Hawaii show up=True

csharks['Area'].str.contains(r'Hawaii').value_counts()

False    1598
True      108
Name: Area, dtype: int64

In [27]:
#grouping Area with similar keywords, in this case found a pattern with Hawaii

csharks['Area'][csharks.Area.str.contains(r'Hawaii')] = 'Hawaii'

#confirming that Hawaii count equals the number of Area names containing Hawaii 

csharks.Area.value_counts()

#note: it seems the pattern had been dropped beforehand with previous data cleaning steps

<ipython-input-27-82c2c9e9e2ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Area'][csharks.Area.str.contains(r'Hawaii')] = 'Hawaii'

Florida                                         473
New South Wales                                 130
Hawaii                                          108
California                                       90
Western Australia                                68
                                               ...
Eastern Cape  Province                            1
South Island, near Karitane north of Dunedin      1
Maputo Province                                   1
North Region                                      1
Batanes Provine                                   1
Name: Area, Length: 226, dtype: int64

In [28]:
# dropping locations with number/without proper string since they seemed irrelevant
#it seems they were dropped in the previous steps but proving it empirically
#deciding locations with numbers will be considered not relevant

csharks['Area'][csharks.Area.str.contains(r'[0-9]')] = 'Not relevant'

#dropping not relevant locations

csharks.drop(csharks[csharks['Area'] == 'Not relevant'].index, inplace=True)

#dropping also the areas starting with between since they are not precise enough

csharks['Area'][csharks.Area.str.contains(r'Between')] = 'Not precised'

csharks.drop(csharks[csharks['Area'] == 'Not precised'].index, inplace=True)

<ipython-input-28-4206b884c22f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Area'][csharks.Area.str.contains(r'[0-9]')] = 'Not relevant'
<ipython-input-28-4206b884c22f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Area'][csharks.Area.str.contains(r'Between')] = 'Not precised'

In [29]:
#improving area columns visuals

csharks.Area = (csharks.Area
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title())

In [30]:
#improving Activity data visuals

csharks.Activity = (csharks.Activity
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title())

In [31]:
#cleaning up data sex

csharks['Sex'][csharks.Sex.str.startswith('F')]='Female'
csharks['Sex'][csharks.Sex.str.startswith('M')]='Male'

# filtering non defined results to NA

csharks['Sex'][(csharks['Sex']=='N') |
               (csharks['Sex']=='lli') |
              (csharks['Sex']== '.')]='NA'

#checking improvements

csharks.Sex.value_counts()

<ipython-input-31-ff98538233e2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Sex'][csharks.Sex.str.startswith('F')]='Female'
<ipython-input-31-ff98538233e2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Sex'][csharks.Sex.str.startswith('M')]='Male'
<ipython-input-31-ff98538233e2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Sex'][(csharks['Sex']=='N') |

Male      1354
Female     265
NA          82
Name: Sex, dtype: int64

In [32]:
#cleaning Age data

#thought of eliminating the age values with letters but it would reduce the data considerably - decided to not move forward with it

number=csharks['Age'].str.isnumeric()

number.value_counts()

True     1263
False     438
Name: Age, dtype: int64

In [33]:
#improving Age visuals


csharks['Age'][csharks.Age.str.contains(r'[A-Za-z]')] = 'NA'
csharks['Age'][csharks.Age.str.contains(r'\&')] = 'More than one person'
csharks['Age'][csharks.Age.str.contains(r'\!?/,')] = 'NA'

#checking improvements

csharks.Age.value_counts()

<ipython-input-33-7f4d060852e2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Age'][csharks.Age.str.contains(r'[A-Za-z]')] = 'NA'
<ipython-input-33-7f4d060852e2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Age'][csharks.Age.str.contains(r'\&')] = 'More than one person'
<ipython-input-33-7f4d060852e2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Age'][csharks.Age.str.contains(r'\!?/,')] = 'NA'

NA    433
15     51
20     47
16     44
19     42
     ...
65      1
73      1
        1
84      1
3       1
Name: Age, Length: 78, dtype: int64

In [34]:
#cleaning Injury data

csharks.Injury = (csharks.Injury
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower())

In [35]:
#organising Species data

csharks.Species=csharks.Species.str.lower()

#assuming I was told to focus my analysis on the most well known shark species with attacks registered

# checking for categories

csharks['Species'][csharks.Species.str.contains(r'zambesi')] = 'Zambesi Shark'
csharks['Species'][csharks.Species.str.contains(r'white')] = 'White Shark'
csharks['Species'][csharks.Species.str.contains(r'tiger')] = 'Tiger Shark'
csharks['Species'][csharks.Species.str.contains(r'blacktip')] = 'Blacktip Shark'
csharks['Species'][csharks.Species.str.contains(r'blue')] = 'Blue Shark'
csharks['Species'][csharks.Species.str.contains(r'bronze')] = 'Bronze Whaler Shark'
csharks['Species'][csharks.Species.str.contains(r'raggedtooth')] = 'Raggedtooth Shark'
csharks['Species'][csharks.Species.str.contains(r'nurse')] = 'Nurse Shark'
csharks['Species'][csharks.Species.str.contains(r'bull')] = 'Bull Shark'
csharks['Species'][csharks.Species.str.contains(r'caribbean')] = 'Caribbean Reef Shark'
csharks['Species'][csharks.Species.str.contains(r'make')] = 'Mako Shark'
csharks['Species'][csharks.Species.str.contains(r'grey')] = 'Grey Shark'
csharks['Species'][csharks.Species.str.contains(r'hammerhead')] = 'Hammerhead Shark'
csharks['Species'][csharks.Species.str.contains(r'leopard')] = 'Leopard Shark'
csharks['Species'][csharks.Species.str.contains(r'lemon')] = 'Lemon Shark'

#deleting rows with other categories

csharks=csharks.loc[(csharks['Species'] == 'Zambesi Shark') |
                     (csharks['Species'] == 'White Shark') |
                    (csharks['Species'] == 'Tiger Shark') |
                     (csharks['Species'] == 'Blacktip Shark') |
                    (csharks['Species'] == 'Blue Shark') |
                     (csharks['Species'] == 'Bronze Whaler Shark') |
                    (csharks['Species'] == 'Raggedtooth Shark') |
                     (csharks['Species'] == 'Nurse Shark') |
                    (csharks['Species'] == 'Bull Shark') |
                     (csharks['Species'] == 'Caribbean Reef Shark') |
                   (csharks['Species'] == 'Mako Shark') |
                     (csharks['Species'] == 'Grey Shark') |
                   (csharks['Species'] == 'Hammerhead Shark') |
                     (csharks['Species'] == 'Leopard Shark') |
                    (csharks['Species'] == 'Lemon Shark')]


csharks.Species.value_counts()

<ipython-input-35-8eeb627f5692>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'zambesi')] = 'Zambesi Shark'
<ipython-input-35-8eeb627f5692>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'white')] = 'White Shark'
<ipython-input-35-8eeb627f5692>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'tiger')] = 'Tiger Shark'
<ipython-input-35-8eeb627f5692>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'blacktip')] = 'Blacktip Shark'
<ipython-input-35-8eeb627f5692>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'blue')] = 'Blue Shark'
<ipython-input-35-8eeb627f5692>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'bronze')] = 'Bronze Whaler Shark'
<ipython-input-35-8eeb627f5692>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'raggedtooth')] = 'Raggedtooth Shark'
<ipython-input-35-8eeb627f5692>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'nurse')] = 'Nurse Shark'
<ipython-input-35-8eeb627f5692>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'bull')] = 'Bull Shark'
<ipython-input-35-8eeb627f5692>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'caribbean')] = 'Caribbean Reef Shark'
<ipython-input-35-8eeb627f5692>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'make')] = 'Mako Shark'
<ipython-input-35-8eeb627f5692>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'grey')] = 'Grey Shark'
<ipython-input-35-8eeb627f5692>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'hammerhead')] = 'Hammerhead Shark'
<ipython-input-35-8eeb627f5692>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'leopard')] = 'Leopard Shark'
<ipython-input-35-8eeb627f5692>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csharks['Species'][csharks.Species.str.contains(r'lemon')] = 'Lemon Shark'

White Shark             221
Tiger Shark             112
Bull Shark              110
Blacktip Shark           62
Bronze Whaler Shark      34
Nurse Shark              28
Raggedtooth Shark        16
Lemon Shark              14
Hammerhead Shark         10
Zambesi Shark            10
Blue Shark               10
Grey Shark                9
Caribbean Reef Shark      9
Name: Species, dtype: int64

In [36]:
#demographic/geographic information
# comparing some demographics and fatal or non fatal injuries

melted = pd.melt(csharks, id_vars=['Area','Sex','Age','Fatal(Y/N)'], 
                 value_vars=['Injury'])
melted

,Area,Sex,Age,Fatal(Y/N),variable,value
0,Florida,Male,NA,N,Injury,no injury to occupant; shark bit propeller
1,Worcestershire,Male,NA,N,Injury,fingers bitten provoked incident
2,Western Cape Province,Male,NA,N,Injury,foot bitten
3,New South Wales,Male,NA,N,Injury,no injury
4,North Province,Male,35,Y,Injury,fatal
...,...,...,...,...,...,...
640,Hawaii,Male,21,N,Injury,"no inury, shark and board collided"
641,Na,Male,20,N,Injury,"right arm severed, ankle severely bitten"
642,Florida,Male,25,N,Injury,lacerations to right foot
643,California,Male,22,N,Injury,two toes broken and lacerated
644,Hawaii,Female,51,N,Injury,severe lacerations to shoulder and forearm

In [37]:
#spliting last columns and droping second one, connected to date again, irrelevant

csharks.InvestigatororSource=csharks.InvestigatororSource.str.split(pat=',',n=1,expand=True)

In [38]:
#reordering columns

order_list=['CaseNumber','Species','Injury', 'Fatal(Y/N)','shark fault?','Sex', 'Age','Activity','Country', 'Area', 'Year','Date','Time','Type','InvestigatororSource']

csharks=csharks[order_list]

In [39]:
#renaming columns

csharks=csharks.rename(columns={'CaseNumber':'Case Number','Injury':'Type of Injury','Fatal(Y/N)':'Fatal:Yes or No','InvestigatororSource':'Investigation','shark fault?':'Unprovoked attack'})

In [40]:
#deciding the index chosen was not the best and reset to zero

csharks.reset_index(drop=True, inplace=True)

csharks

,Case Number,Species,Type of Injury,Fatal:Yes or No,Unprovoked attack,Sex,Age,Activity,Country,Area,Year,Date,Time,Type,Investigation
0,2000.00.00,Hammerhead Shark,no injury to occupant; shark bit propeller,N,Y,Male,NA,Fishing For Tarpon,USA,Florida,2000,2000,NA,Boat,B. Stout
1,2000.02.14,Blacktip Shark,fingers bitten provoked incident,N,N,Male,NA,Feeding Prawns To Captive Sharks,England,Worcestershire,2000,14-Feb-00,NA,Provoked,The Sun (London)
2,2000.02.19,White Shark,foot bitten,N,Y,Male,NA,Body Surfing,South Africa,Western Cape Province,2000,19-Feb-00,14h00,Unprovoked,C. Creswell
3,2000.03.14,Tiger Shark,no injury,N,Y,Male,NA,Surfing,Australia,New South Wales,2000,14-Mar-00,19h30,Unprovoked,Sydney Morning Herald
4,2000.03.15,Tiger Shark,fatal,Y,Y,Male,35,Spearfishing,New Caledonia,North Province,2000,15-Mar-00,Morning,Unprovoked,Les Nouvelles Caledoniennes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,2016.08.06,Tiger Shark,"no inury, shark and board collided",N,Y,Male,21,Sup Foil Boarding,USA,Hawaii,2016,06-Aug-16,NA,Unprovoked,SUP
641,2016.08.27,Bull Shark,"right arm severed, ankle severely bitten",N,Y,Male,20,Surfing,Reunion,Na,2016,27-Aug-16,17h00,Unprovoked,LaDepeche
642,2016.08.29.b,Bull Shark,lacerations to right foot,N,Y,Male,25,Surfing,USA,Florida,2016,29-Aug-16,15h00,Unprovoked,News Channel 8
643,2016.09.01,White Shark,two toes broken and lacerated,N,Y,Male,22,Spearfishing,USA,California,2016,01-Sep-16,NA,Unprovoked,R. Collier
644,2016.09.07,Tiger Shark,severe lacerations to shoulder and forearm,N,Y,Female,51,Swimming,USA,Hawaii,2016,07-Sep-16,14h30,Unprovoked,Hawaii News Now

In [42]:
csharks = csharks.to_csv('csharks.csv', index=False)

In [ ]:
#DISCUSSION

""""cleaning up age issues
changing age like this didn´t work. the idea was to create age clusters afterwards
csharks.drop(csharks[csharks['Age'] == 'NA'].index, inplace=True)
csharks['Age']=pd.to_numeric(csharks['Age'], errors='ignore')
csharks['Age']=csharks['Age'].astype(int, errors='ignore')"""

""" cleaning up Date issues 
The idea was to categorize afterwards and check for seasonality/warm waters correlation

csharks['Date']=pd.to_datetime(csharks['Date'],errors='ignore')
csharks['Month'] = pd.DatetimeIndex(csharks['Date']).month"""

"""how to categorise countries by frequency of attacks as high, medium and low danger"""