In [41]:
# importing pandas and numpy

import pandas as pd
import numpy as np

In [42]:
#export file

sharks = pd.read_csv('sharkoriginal.csv',engine="python")


#to have an overview of the data size

sharks.shape

(5992, 24)

In [43]:
#overview of the data

sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [44]:
#size of dataframe

sharks.size

143808

In [45]:
#number of rows

len(sharks)

5992

In [46]:
#creating a copy

csharks=sharks.copy()
csharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [47]:
#check and show only columns with nulls 

null_columns=csharks.isnull().sum()
null_columns[null_columns > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [48]:
#drop columns unnamed 22 and unnamed 23, no information


#csharks.drop(csharks.columns[csharks.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [49]:
# checked for irrelevant columns
#since there are 5992 rows, I assumed if 90% of the data has value null, it´s not worth to be analysed - so 5392
# it was proven possible to observe no more columns would drop, but I also decided to prove it empirically 

drop_cols = list(null_columns[null_columns > 5392].index)
csharks = csharks.drop(drop_cols, axis=1)

In [50]:
# observing the data, it seems Case number columns are the same
#confirming case number 1 column and case number 2 columns are the same through boolean map


print(csharks['Case Number.1']==csharks['Case Number.2'])

#count the rows to match the boolean map length, to confirm the results

print(sharks.shape[0])

#once confirmed, dropping one of the columns

csharks.drop(['Case Number.2'], axis=1, inplace=True)

0        True
1        True
2        True
3        True
4       False
        ...
5987     True
5988     True
5989     True
5990     True
5991     True
Length: 5992, dtype: bool
5992

In [51]:
#if there are spaces in the columns, they won´t appear anymore and the columns can be filtered correctly

csharks.columns = csharks.columns.str.replace(' ', '')

In [52]:
# substituted the nulls by NA (as Non Available) for descriptive data


csharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']] = csharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']].fillna("NA")

In [53]:

#checking data for potential new index 

print(csharks['originalorder'].nunique())

print(csharks['CaseNumber'].nunique())

5988
5976

In [54]:
# change index to original order

csharks.set_index(['originalorder'], inplace=True)

csharks.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber.1
originalorder,,,,,,,,,,,,,,,,,,,,
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16

In [55]:
#not in order, sort by the new index

csharks=csharks.sort_values(by='originalorder')

In [56]:
#after checking for irrelevant data given the analysis goals and not because of nulls or repetitions,deleting more columns
# deleted pdf and ref since both can be treaceable through case number
# deleted also name since we have gender and age
#deleted also CaseNumber.1 since there was still CaseNumber

irrelevant_columns=['Name','pdf','hrefformula', 'href', 'CaseNumber.1']
csharks=csharks.drop(irrelevant_columns, axis=1)

In [57]:
# checked for outliers, years in this case


descriptivecsharks = csharks.describe().transpose()

print(descriptivecsharks)

descriptivecsharks['IQR'] = descriptivecsharks['75%'] - descriptivecsharks['25%']
descriptivecsharks

outlier25=descriptivecsharks['25%']-(1.5*descriptivecsharks['IQR'])

outlier75=descriptivecsharks['75%']+(1.5*descriptivecsharks['IQR'])

print(outlier25)
print(outlier75)

       count         mean         std  min     25%     50%     75%     max
Year  5992.0  1925.204606  286.473712  0.0  1942.0  1975.0  2003.0  2016.0
Year    1850.5
dtype: float64
Year    2094.5
dtype: float64

In [58]:
#there are outliers if outlier<Year 1850 and outlier> 2094,5

csharks['Year'] = np.where(csharks.Year > 1850, csharks.Year, "Not relevant")

csharks

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource
originalorder,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,Not relevant,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NA,NA,S.W. Baker
3,ND.0002,1883-1889,Not relevant,Unprovoked,PANAMA,NA,"Panama Bay 8ºN, 79ºW",NA,M,NA,FATAL,Y,NA,NA,"The Sun, 10/20/1938"
4,ND.0003,1900-1905,Not relevant,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NA,FATAL,Y,NA,NA,"F. Schwartz, p.23; C. Creswell, GSAF"
5,ND.0004,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,NA,Pearl diving,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, pp. 233-234"
6,ND.0005,Before 1903,Not relevant,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NA,FATAL,Y,NA,NA,"H. Taunton; N. Bartlett, p. 234"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NA,No injury: Knocked off board by shark,N,NA,2 m shark,"The Age, 9/16/2016"
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NA,Struck by fin on chest & leg,N,NA,NA,"The Age, 9/18/2016"
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NA,"Orlando Sentinel, 9/19/2016"
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NA,"Orlando Sentinel, 9/19/2016"
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NA,"Orlando Sentinel, 9/19/2016"

In [59]:
#eliminating the Not relevant years

csharks.drop(csharks[csharks['Year'] == 'Not relevant'].index, inplace=True)

#confirm they are removed 
csharks.Year.value_counts()

2015    139
2011    128
2014    125
2013    122
2008    121
       ...
1851      3
1869      2
1854      1
1859      1
1866      1
Name: Year, Length: 165, dtype: int64

In [60]:
#confirm no duplicates left

before=len(csharks)

csharks.drop_duplicates(inplace=True)

after = len(csharks)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [61]:
#number of times words that contain Hawaii show up=True

csharks['Area'].str.contains(r'Hawaii').value_counts()

False    5470
True      284
Name: Area, dtype: int64

In [62]:
csharks.Area.value_counts()

Florida            979
New South Wales    450
NA                 349
Queensland         294
Hawaii             277
                  ...
Kwajalein            1
West coast           1
Antarctic Ocean      1
Samaná Province      1
Mindoro              1
Name: Area, Length: 745, dtype: int64

In [63]:
#Group Area with similar keywords, in this case found a pattern with Hawaii

csharks['Area'][csharks.Area.str.contains(r'Hawaii')] = 'Hawaii'

#To confirm that Hawaii count equals the number of Area names containing Hawaii 

csharks.Area.value_counts()

Florida                               979
New South Wales                       450
NA                                    349
Queensland                            294
Hawaii                                284
                                     ...
Near Bougainville (North Solomons)      1
Kwajalein                               1
West coast                              1
Antarctic Ocean                         1
Mindoro                                 1
Name: Area, Length: 740, dtype: int64

In [64]:
# saw many locations with number/without proper string that seemed irrelevant
#decided locations with numbers will be considered not relevant

csharks['Area'][csharks.Area.str.contains(r'[0-9]')] = 'Not relevant'

#dropping not relevant locations

csharks.drop(csharks[csharks['Area'] == 'Not relevant'].index, inplace=True)

#the areas starting with between are also not very precise, decided to drop them also

csharks['Area'][csharks.Area.str.contains(r'Between')] = 'Not precised'

csharks.drop(csharks[csharks['Area'] == 'Not precised'].index, inplace=True)

#to confirm that the lenght is smaller/ values were dropepd

csharks['Area'].value_counts()

Florida              979
New South Wales      450
NA                   349
Queensland           294
Hawaii               284
                    ...
Bocas                  1
Gujarat                1
Andikira Fokithes      1
Gibraltar              1
Rayong Province        1
Name: Area, Length: 699, dtype: int64

In [65]:
#improve area columns visuals

csharks.Area = (csharks.Area
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title())

In [66]:
#organise countries

csharks.Country = (csharks.Country
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title()
                            .str.replace('Usa','USA'))

#check the frequency of attacks by country

country=csharks.Country.value_counts(normalize=True)
    

#question 1: categorise countries as "High Danger Country, Medium, Low"

In [67]:
#thought of eliminating the age values with letters but it would reduce the data considerably - decided not to

number=csharks['Age'].str.isnumeric()

number.value_counts()

True     3178
False    2532
Name: Age, dtype: int64

In [68]:

#csharks['Age'] = csharks['Age'].astype('int')
#csharks['Age'].dtype

#Clean up age


csharks['Age'][csharks.Age.str.contains(r'[A-Za-z]')] = 'NA'
csharks['Age'][csharks.Age.str.contains(r'\&')] = 'More than one person'
csharks['Age'][csharks.Age.str.contains(r'\!?/,')] = 'NA'



csharks['Age'].value_counts()


    
#csharks['Age']=csharks['Age'].astype(str)astype(int)

#csharks['Age']=pd.to_numeric(csharks['Age'],downcast='integer', errors='ignore')

# csharks['Age'] = csharks['Age'].astype('int')

#csharks['Age']=csharks['Age'].as

#csharks.astype({'Age': 'int64'}, errors='ignore').dtypes






#csharks.dtypes

#csharks['Age'].dtype

#csharks['Age'] = np.where(csharks.Age.str.contains(r'\d'), "Valid", "Invalid")

#csharks['Age'].value_counts()


#csharks['Age'] = csharks['Age'].astype('int')
#csharks['Age'].dtype

#csharks.drop(csharks[csharks['Area'] == 'Not precised'].index, inplace=True)

NA    2507
17     147
18     145
20     135
19     133
      ...
86       1
         1
87       1
2½       1
         1
Name: Age, Length: 88, dtype: int64

In [69]:
#questions

#age as object, how to transform i

csharks.dtypes

CaseNumber              object
Date                    object
Year                    object
Type                    object
Country                 object
Area                    object
Location                object
Activity                object
Sex                     object
Age                     object
Injury                  object
Fatal(Y/N)              object
Time                    object
Species                 object
InvestigatororSource    object
dtype: object

In [70]:
#csharks=csharks.assign(Age=pd.Age_group)
#csharks

In [71]:
csharks.groupby(by='Age')

In [72]:
#clean up the type

#eliminate invalids

csharks.drop(csharks[csharks['Type'] == 'Invalid'].index, inplace=True)

# Boat and boating are the same

csharks.Type = (csharks.Type.str.replace('Boating', 'Boat'))

#create new category, because we want to protect the sharks and it´s not their fault boat or sea disasters!

csharks['shark fault?']=np.where(csharks['Type']=='Provoked',"Yes",'No')

In [73]:
csharks.head()

#Clean un the date, to have the months
#Couldn´t make it, would like to discuss it
#Idea was to categorize by seasons to correlate with potential seasonality

#csharks['Month']=csharks.Date.dt.month

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,shark fault?
originalorder,,,,,,,,,,,,,,,,
239,1851.00.00,1851,1851,Unprovoked,USA,California,"San Francisco Bay (or San Leandro Bay), near c...",Hard hat diving,M,NA,3 toes severed,N,NA,18' shark,"The Perry Chief, 10/16/1875",No
240,1851.03.08.R,Mar-1851,1851,Unprovoked,USA,Hawaii,Honolulu Harbor,Swimming,M,NA,FATAL,Y,NA,NA,"The Friend (Honolulu), 3/8/1851",No
241,1851.06.19.R,Reported 19-Jun-1851,1851,Unprovoked,Mexico,Oaxaca,NA,Bathing,M,NA,FATAL,Y,NA,NA,"Burlington Hawk-Eye, 6/19/1851",No
242,1852.00.00,1852,1852,Unprovoked,USA,South Carolina,"Mount Pleasant, Charleston County","Vessel capsized, wading ashore carrying an oar",M,NA,"FATAL, body was not recovered",Y,NA,NA,"W. H. Gregg, p. 21",No
243,1852.01.22,"""Anniversary Day"" 22-Jan-1850 or 1852",1852,Unprovoked,New Zealand,North Island,Wellington Harbor,Swimming,M,NA,"FATAL, posterior thigh bared to femur, kneecap...",Y,NA,Said to involved a 6 m to 7.3 m [20' to 24'] s...,"Ref: H. Blake, Sixty Years in New Zealand, pp....",No

In [74]:
#clean up the Gender

#Why doesnt it work with the loc?
#csharks.loc[csharks.Sex.str.startswith('F')] = 'Female'
#csharks.loc[csharks['Sex'].str.startswith('M')] = 'Male'


csharks['Sex'][csharks.Sex.str.startswith('F')]='Female'
csharks['Sex'][csharks.Sex.str.startswith('M')]='Male'


# filtering bad results all to NA

csharks['Sex'][(csharks['Sex']=='N') |
               (csharks['Sex']=='lli') |
              (csharks['Sex']== '.')]='NA'

csharks.Sex.value_counts()

Male      4236
Female     509
NA         463
Name: Sex, dtype: int64

In [75]:
csharks.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,shark fault?
originalorder,,,,,,,,,,,,,,,,
239,1851.00.00,1851,1851,Unprovoked,USA,California,"San Francisco Bay (or San Leandro Bay), near c...",Hard hat diving,Male,NA,3 toes severed,N,NA,18' shark,"The Perry Chief, 10/16/1875",No
240,1851.03.08.R,Mar-1851,1851,Unprovoked,USA,Hawaii,Honolulu Harbor,Swimming,Male,NA,FATAL,Y,NA,NA,"The Friend (Honolulu), 3/8/1851",No
241,1851.06.19.R,Reported 19-Jun-1851,1851,Unprovoked,Mexico,Oaxaca,NA,Bathing,Male,NA,FATAL,Y,NA,NA,"Burlington Hawk-Eye, 6/19/1851",No
242,1852.00.00,1852,1852,Unprovoked,USA,South Carolina,"Mount Pleasant, Charleston County","Vessel capsized, wading ashore carrying an oar",Male,NA,"FATAL, body was not recovered",Y,NA,NA,"W. H. Gregg, p. 21",No
243,1852.01.22,"""Anniversary Day"" 22-Jan-1850 or 1852",1852,Unprovoked,New Zealand,North Island,Wellington Harbor,Swimming,Male,NA,"FATAL, posterior thigh bared to femur, kneecap...",Y,NA,Said to involved a 6 m to 7.3 m [20' to 24'] s...,"Ref: H. Blake, Sixty Years in New Zealand, pp....",No

In [81]:
#organise Species data

csharks.Species=csharks.Species.str.lower()
csharks

#if non fatal and species not written:

csharks.loc[(csharks['Species']=='na') & (csharks['Fatal(Y/N)']!='NA')]

#too much data would be deleted and it would be bias due to personal inclination to save the sharks

# check for categories
csharks['Species'][csharks.Age.str.contains(r'zambesi')] = 'Zambesi Shark'
csharks['Species'][csharks.Age.str.contains(r'white')] = 'White Shark'
csharks['Species'][csharks.Age.str.contains(r'tiger')] = 'Tiger Shark'

csharks.Species.value_counts()

na                                     2442
white shark                             154
tiger shark                              59
bull shark                               49
4' shark                                 39
                                       ...
grey reef shark                           1
grey nurse shark, 2.9 m [9'6"]            1
small dusky shark or blackfin shark       1
3 m to 3.7 m [10' to 12'] shark           1
2' to 3' reef shark                       1
Name: Species, Length: 1416, dtype: int64

In [77]:
#rename columns
#reorder columns

In [78]:
#demographic/geographic information
# to compara some demographics and fatal or non fatal injuries

melted = pd.melt(csharks, id_vars=['Area','Sex','Age','Fatal(Y/N)'], 
                 value_vars=['Injury'])

In [79]:
#split last columns and drop second one, connected to date again, irrelevant

csharks.InvestigatororSource=csharks.InvestigatororSource.str.split(pat=',',n=1,expand=True)

csharks




#csharks
#csharks[['First','Last']] = csharks.InvestigatororSource.str.split(",",expand=True)

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal(Y/N),Time,Species,InvestigatororSource,shark fault?
originalorder,,,,,,,,,,,,,,,,
239,1851.00.00,1851,1851,Unprovoked,USA,California,"San Francisco Bay (or San Leandro Bay), near c...",Hard hat diving,Male,NA,3 toes severed,N,NA,18' shark,The Perry Chief,No
240,1851.03.08.R,Mar-1851,1851,Unprovoked,USA,Hawaii,Honolulu Harbor,Swimming,Male,NA,FATAL,Y,NA,na,The Friend (Honolulu),No
241,1851.06.19.R,Reported 19-Jun-1851,1851,Unprovoked,Mexico,Oaxaca,NA,Bathing,Male,NA,FATAL,Y,NA,na,Burlington Hawk-Eye,No
242,1852.00.00,1852,1852,Unprovoked,USA,South Carolina,"Mount Pleasant, Charleston County","Vessel capsized, wading ashore carrying an oar",Male,NA,"FATAL, body was not recovered",Y,NA,na,W. H. Gregg,No
243,1852.01.22,"""Anniversary Day"" 22-Jan-1850 or 1852",1852,Unprovoked,New Zealand,North Island,Wellington Harbor,Swimming,Male,NA,"FATAL, posterior thigh bared to femur, kneecap...",Y,NA,said to involved a 6 m to 7.3 m [20' to 24'] s...,Ref: H. Blake,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,Australia,Victoria,Bells Beach,Surfing,Male,NA,No injury: Knocked off board by shark,N,NA,2 m shark,The Age,No
5990,2016.09.17,17-Sep-16,2016,Unprovoked,Australia,Victoria,Thirteenth Beach,Surfing,Male,NA,Struck by fin on chest & leg,N,NA,na,The Age,No
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Male,43,Lacerations to lower leg,N,10h43,na,Orlando Sentinel,No
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Male,36,Lacerations to hands,N,11h00,na,Orlando Sentinel,No
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Male,16,Minor injury to thigh,N,13h00,na,Orlando Sentinel,No

In [80]:
#next steps:
#check seasonality through date
#cluster ages
#create high danger zones